
version: '2'

services:
    ssh-tunnel-db:
        image: symfonydoge/docker-ssh-tunnel:${SSH_TUNNEL_VERSION}
        volumes:
            - $HOME/.ssh/id_rsa:/root/ssh-import/id_rsa:ro
        environment:
            SSH_TUNNEL_HOST: ${SSH_TUNNEL_DB_HOST}
            REMOTE_PORT: ${SSH_TUNNEL_DB_PORT}

    pgadmin:
        image: dpage/pgadmin4:${PGADMIN_VERSION}
        depends_on:
            - ssh-tunnel-db
        environment:
            PGADMIN_DEFAULT_EMAIL: 'disabled-in-desktop-mode'
            PGADMIN_DEFAULT_PASSWORD: 'disabled-in-desktop-mode'
            PGADMIN_CONFIG_SERVER_MODE: 'False'
            PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
        ports:
            - "${PGADMIN_PORT_EXPOSE}:80"
        volumes:
            - pgadmin_data:/var/lib/pgadmin

    ssh-tunnel-redis:
        image: symfonydoge/docker-ssh-tunnel:${SSH_TUNNEL_VERSION}
        volumes:
            - $HOME/.ssh/id_rsa:/root/ssh-import/id_rsa:ro
        environment:
            SSH_TUNNEL_HOST: ${SSH_TUNNEL_REDIS_HOST}
            REMOTE_PORT: ${SSH_TUNNEL_REDIS_PORT}

    redis-commander:
        image: rediscommander/redis-commander:${REDIS_COMMANDER_VERSION}
        depends_on:
            - ssh-tunnel-redis
        environment:
            #REDIS_HOSTS: ${REDIS_COMMANDER_DATA_HOSTS}
            REDIS_HOST: ${REDIS_COMMANDER_DATA_HOST}
            REDIS_PORT: ${REDIS_COMMANDER_DATA_PORT}
            REDIS_DB: ${REDIS_COMMANDER_DATA_DB}
        ports:
            - "${REDIS_COMMANDER_PORT_EXPOSE}:8081"

volumes:
    pgadmin_data:
        driver: local
        driver_opts:
            type: none
            device: ${PWD}/data/pgadmin
            o: bind